body {
  font-family: "Roboto", sans-serif;
  /* margin-left: auto; */
  margin: 0;
  /* margin-right: auto; */
  /* background-color: #1f2937; */
}

a {
  text-decoration: none;
  color: white;
}

/* HEADER SECTION */
.header-section {
  color: white;
  background-color: #1f2937;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  padding: 10px 200px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.header-links {
  display: flex;
  gap: 20px;
}

/* HERO SECTION */
.hero-section {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 100px 100px;
}

.hero-left {
  flex: 1;
}

.hero-title {
  font-size: 48px;
  color: #e5e7eb;
}

.hero-nottitle {
  color: white;
  font-size: 18px;
}

.hero-button {
  color: white;
  background-color: #3882f6;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.hero-right {
  background-color: gray;
  color: white;
  flex: 1;
  font-size: 14px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CONTENT SECTION */
.content-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: white;
  padding: 25px 200px 100px;
}

.content-title {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  padding-bottom: 25px;
}

.features-container {
  display: flex;
  flex-flow: row;
  gap: 30px;
}

.features {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 150px;
}

.content-image {
  width: 150px;
  height: 150px;
  border: 2px solid #3882f6;
  border-radius: 5px;
}

.content-text {
  width: 150px;
  text-align: center;
}

/* QUOTE SECTION */
.quote-section {
  padding: 100px 250px;
  background-color: #e5e7eb;
  color: #1f2937;
  /* display: flex;
    flex-direction: column; */
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.quote-sign-off {
  padding-right: 50px;
  font-weight: bold;
  text-align: end;
}

/* CTA SECTION */
.cta-section {
  padding: 100px 100px;
  background-color: white;
}

.cta-box {
  background-color: #3882f6;
  padding: 50px 100px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.cta-text h3 {
  font-size: 25px;
  font-weight: bold;
}

.cta-text p {
  font-size: 16px;
}

.cta-box button {
  color: white;
  background-color: #3882f6;
  border: 2px white solid;
  border-radius: 5px;
  padding: 10px 25px;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.cta-box button:hover {
  background-color: white;
  color: #3882f6;
}

/* TO DO LIST */
