.header {
    background-color: #1f2937;
    color: white;
    font-family: "Roboto";
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

